<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form (ngSubmit)="onSubmit(registerForm)"
          #registerForm="ngForm">
      <h2>Registro</h2>

      <mat-form-field class="full-width-input">
        <input matInput
               placeholder="Email"
               name="email"
               type="email"
               [(ngModel)]="usuario.email"
               required
               email>
        <mat-error>
          El campo email posee errores.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="2"
               required>
        <mat-error>
          El campo Nombre posee errores.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput
               type="password"
               placeholder="Password"
               name="password"
               [(ngModel)]="usuario.password"
               minlength="6"
               required>
        <mat-error>
          La contraseña de contener más de 6 caracteres.
        </mat-error>
      </mat-form-field>
      <button [disabled]="registerForm.invalid" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
  <mat-label>Ya posee un usuario?  <a routerLink="/login">Ingresar</a></mat-label>
</mat-card>
